{% extends 'header.html' %}

{% block product %}

<div class="modal-body">
            <form>
              <div class="row">
                <div class="col-md-6">
                  <div class="mb-3">
                    <label class="form-label">Your Name</label>
                    <input type="text" class="form-control" placeholder="Name">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="mb-3">
                    <label class="form-label">Email address</label>
                    <input type="email" class="form-control" placeholder="E-mail">
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="mb-3">
                    <label class="form-label" for="exampleInputEmail1">Subject</label>
                    <input type="text" class="form-control" placeholder="Subject">
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="mb-3">
                    <label class="form-label" for="exampleInputEmail1">Your Message</label>
                    <textarea class="form-control" rows="5" placeholder="Your Message"></textarea>
                  </div>
                </div>
              </div>
              <div class="">
                <button type="submit" class="btn btn-primary">Send Message</button>
              </div>
            </form>
          </div>




{% endblock %}