{% extends 'header.html' %}

{% block product %}

<main>

        <!-- signup page -->

          <div class="container">
            <div class="justify-content-center row">
              <div class="col-lg-10 col-xxl-6">
                <div class="card">
                  <div class="card-header bg-transparent py-3">
                    <h3 class="h4 mb-0">Register</h3>
                  </div>
                  <div class="card-body">

                    <form method="post">
                      {% csrf_token %}

                      <div class="row">
                        <div class="col-md-6">

                           <!-- This is a conditional statement that checks if there is an error message. If there is, it
                           will display the error message. -->
                           {% if error_message %}
                        <div class="alert alert-danger">{{ error_message }}</div>
                          {% endif %}

                          <div class="form-group mb-3">
                            <label for="name_1" class="form-label">Name <span class="text-danger">*</span>
                            </label>
                            <input type="text" id="name" name="name" class="form-control" placeholder="Name">
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group mb-3">
                            <label for="email_1" class="form-label">Email <span class="text-danger">*</span>
                            </label>
                            <input type="email" id="email_1" name="email" class="form-control" placeholder="E-mail">
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group mb-3">
                            <label class="form-label col" for="exampleInputPassword_01">Password <span class="text-danger">*</span>
                            </label>
                            <input type="password" name="password1" class="form-control" id="exampleInputPassword_01" placeholder="*********">
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group mb-3">
                            <label class="form-label col" for="exampleInputPassword_1">Conform Password <span class="text-danger">*</span>
                            </label>
                            <input type="password" name="password2" class="form-control" id="exampleInputPassword_1" placeholder="*********">
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group mb-3">
                            <label  class="form-label">Phone <span class="text-danger">*</span>
                            </label>
                            <input type="number" id="phone" name="phone" class="form-control" placeholder="Phone Number">
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group mb-3">
                            <label  class="form-label">Country <span class="text-danger">*</span>
                            </label>
                            <input type="text"  name="country" id="country" class="form-control" placeholder="Enter YourCountry">
                          </div>
                        </div>


                         <div class="row">
                        <div class="col-md-6">
                          <div class="form-group mb-3">
                            <label  class="form-label">City <span class="text-danger">*</span>
                            </label>
                            <input type="text" id="city"  name="city" class="form-control" placeholder="Enter your city">
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group mb-3">
                            <label  class="form-label">Address <span class="text-danger">*</span>
                            </label>
                            <input type="text" id="address" name="address" class="form-control" placeholder="Address">
                          </div>
                        </div>



                      <div class="form-check mb-4">
                        <input class="form-check-input" type="checkbox" value="" id="form2Example3" checked="checked">
                        <label class="form-check-label" for="form2Example3">By register, I read & accept the terms.</label>
                      </div>
                      <div class="form-group row align-items-center">
                        <div class="col">
                          <button type="submit" class="btn btn-primary">Create Account</button>
                        </div>
                        <div class="col-12 col-sm text-sm-end mt-3 mt-sm-0">
                          <span class="text-muted">Have an account? <a href="{% url 'shopping:login' %}">Login here</a>
                          </span>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end signup -->
      </main>
      <!-- End Main -->
{% endblock %}